{% extends "base.html" %}
<html>
	<head>
	</head>

	<body>
		{% block content %}


	<div class="container">
		<div class="row">
			    <div class="col-lg-12">
				<ol class="breadcrumb">
				    <li><a href="/">Lab Manuals</a></li>
				    <li><a href="/course-notes">Branches</a></li>
				    <li><a href="../../">Semesters</a></li>
				    <li><a href="../">Subjects</a></li>
				    <li class="active">{{ subject_name.subject_name }}</li>
				</ol>
				<h1 class="page-header">
				     {{ subject_name.subject_name }}
             <small> lab manuals</small>
				</h1>

			    </div>
			</div>
		{% for manual in manuals %}
		<ul class="list-group">
			<li class="list-group-item"><a href="media/{{ manual.manual }}" target="_blank">{{ manual.title }}</a><br/></li>
			{% if not manuals %}
				<p>Nothing found</p>
			{% endif %}
		</ul>
		{% endfor %}

		<br/><br/><br/>

		{% endblock %}
	</body>
</html>
